<h1><%= @user.name %></h1>

  <div>
    <%= image_tag user_avatar(@user), alt: 'avatar' %>
  </div>

<h2>@<%= @user.username %></h2>

<a href="#" class="button button-green">Задать вопрос</a>

<% @questions.each do |question| %>
  <%= render partial: 'questions/question', object: question %> 
<% end %>
